/* src/App.css */
.App {
  text-align: center;
  color: #000000; /* Cor do texto clara para contraste */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  backdrop-filter: blur(5px); /* Adiciona um desfoque de fundo para um efeito moderno */
}


@media (max-width: 600px) {
  #chart_div,
  #chart_div2 {
    max-width: 100%; /* Ajusta o tamanho máximo para dispositivos móveis */
    padding: 15px; /* Reduz o padding para telas menores */
  }
}
